.secondary-headers {
    font-size: 20px;
    font-weight: bold;
  }
  
  .news-content {
    padding-right: 15px;
  }
  
  .date-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 22px;
    color: #555555;
    text-align: center;
    background: #ececec;
  }
  
  .header-date {
     line-height: 25px;
     padding: 10px 20px 10px 20px;
  }
  
  .news-name {
    padding-left: 10px;
  }
  
  .news-name h1 {
    font-size: 22px;
    font-weight: bold;
    padding:5px 0;
    border-bottom: 1px solid black;
    border-style: dotted;
  }
  .news-tags {
    padding-left: 10px;
    padding-bottom: 10px;
  
  }
  .news-tags p {
    padding:5px 0;
  
  }
  
  .news-image img {
    width: 100%;
  }
  
  .news-description {
    border-bottom: 1px solid black;
    border-style: dotted;
    padding: 25px 0;
  }
  
  .recent-post-box {
    border-bottom: 1px solid black;
    border-style: dotted;
    padding: 25px 0;
  
  }
  
  .img-container {
    float: left;
    width: 25%;
    padding: 5px;
  }
  .img-container img {
    width: 100%;
  }
  
  .recent-post::after {
    content: "";
    clear: both;
    display: block;
  }
  .news-comments {
    padding: 25px 0;
  }
  
  .comments-section {
    border-bottom: 1px solid black;
    border-style: dotted;
    padding: 25px 0;
  }
  .comment {
    background-color: #f7f7f7;
  }
  .name {
    font-weight: bold;
    padding: 5px 0;
  }
  .comments-form h2 {
    padding: 25px 0;
  }
  .comments-input {
    width: 100%;
    height: 30px;
    background-color: #f7f7f7;
    border-style: none;
    margin-bottom: 10px;
  }
  
  .comments-textarea {
    height: 140px;
    width: 100%;
    border-style: none;
    background-color: #f7f7f7;
    resize: none;
  
  }
  
  .comments-button {
    margin:25px 0;
  }
  
  
  /* side-bar */
  
  .side-bar {
    padding-left: 15px;
    border-left: 1px solid black;
    border-style: dotted;
  }
  .side-bar-heading h2 {
    text-align: center;
    padding-bottom: 5px;
  
  }
  b {
    font-weight: bold;
  }