 .content-block {
     position: relative;
    background: #f7f7f7;
    margin: 0px 5px 20px 5px;
    border: 1px solid #e8e8e8;
    height: 500px;
  
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  .description {
    padding: 5px;
  }
  
  .post-heading {
    font:20px;
    font-weight: bold;
    padding: 20px 20px 0px 20px;
    text-decoration: none;
    color: black;
  }
  .text {
    padding: 20px;
  }
  .date {
    width: 100%;
    border-top: 1px solid black;
    border-style: dotted;
    padding: 15px 20px 15px 20px;
    position: absolute; 
    bottom: 0; 
  }